<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form th:fragment="add_training_form" th:action="@{/addactivity}"
		method="post">

		<!-- Name  -->
		<input name="Session" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="name"> 
			
			
			<input name="fromDate" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="name"> 
			
			
			<input name="toDate" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="name"> 
			
			
			<select name="employee" >
			 <option th:value="${employee.id}" th:each="employee:${employees}"  th:text="${employee.firstName}">
			 </option>
			
			</select>
			
			
			

		<button type="submit" class="btn btn-primary">Create</button>


	</form>
</body>
</html>