<div th:fragment="add_order_form"  id="mymodel"
	class="modal-dialog modal-xl" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New</h5>
		</div>
		<div class="modal-body">
			<form th:action="@{/addorder}" method="post">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" style="z-index: 999999;">
							<label>Order Number</label> <input name="orderNumber" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="order Number">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Date</label> <input name="dateCreation" type="date"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="Date Creation">
						</div>
						<!-- /.form-group -->
					</div>
					<!-- /.col -->
					<div class="col-md-6">
						<div class="form-group">
							<label>Deadline</label> <input name="dateLimit" type="date"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="Date Limit">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Status</label>
							<select name="state"  class="form-control" >
							<option value="Sent">Sent</option>
							<option value="Accepted">Accepted</option>
							<option value="rejected">Rejected</option>
							</select>
						</div>
						<!-- /.form-group -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

				<!-- /.row -->
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>