<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	
	
				<form th:fragment="add_client_form" th:action="@{/addclient}" method="post">

				<!-- Name  -->
				 <input name="firstName" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="firstName">
						
				 <input name="code" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="code">
						
				 <input name="lastName" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="lastName">
						
						<select name="tva" >
			 <option th:value="${vat.id}" th:each="vat:${vats}"  th:text="${vat.name}">
			 </option>
			
			</select>
						
						
						 <input name="adresse" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="adresse">
						
						 <input name="telephone" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="telephone">
						
							 <input name="telephone" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="telephone">
						
							 <input name="email" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">


				<button type="submit" class="btn btn-primary">Create</button>


			</form>
</body>
</html>