
<div th:fragment="add_vat_form" id="mymodel"
	class="modal-dialog modal-xl" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New</h5>
		</div>
		<div class="modal-body">
			<form th:action="@{/addvat}" method="post">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" style="z-index: 999999;">
							<label>Name</label> <input name="name" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="Name"></input>
						</div>
						<!-- /.form-group -->
                        	<div class="form-group" style="z-index: 999999;">
							<label>Rate</label> <input name="rate" type="number"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="Rate"></input>
						</div>
						<!-- /.form-group -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

				<!-- /.row -->
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>