<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	
				<form th:fragment="add_employee_form" th:action="@{/addemployee}" method="post">
                    <input name="code" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="code">
				<!-- Name  -->
				 <input name="firstName" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="firstName">
						
				 <input name="lastName" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="lastName">
						
				 <input name="dateBirth" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="dateBirth">
						
						 <input name="address" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="address">
						
						 <input name="dateRecuitement" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="dateRecuitement">
						
						 <input name="job" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="job">
						
						 <input name="children" type="text" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="children">


				<button type="submit" class="btn btn-primary">Create</button>


			</form>
</body>
</html>