<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:fragment="add_activity_form" th:action="@{/addactivity}"
		method="post">

		<!-- Name  -->
		<input name="name" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="name"> 
			<select name="familyIn" >
			 <option th:value="${family.id}" th:each="family:${families}"  th:text="${family.name}">
			 </option>
			
			</select>
			
			
			<select name="familyOut" >
			 <option th:value="${family.id}" th:each="family:${families}"  th:text="${family.name}">

			 </option>
			
			</select>
			
			
			
			<input name="activityNumber"
			type="number" class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="activityNumber" /> 
			
			
			<input
			name="machineNumber" type="number" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="machineNumber">




		<button type="submit" class="btn btn-primary">Create</button>


	</form>
</body>
</html>