

<div th:fragment="add_customer_contract_form" id="mymodel"
	class="modal-dialog modal-xl" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New</h5>
		</div>
		<div class="modal-body">
			<form th:action="@{/addcustomercontract}" method="post">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" style="z-index: 999999;">
							<label>Family IN</label> <input name="Company" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="Company">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Name</label> <input name="currency" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="currency">


						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Name</label> <input name="name" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="name">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Name</label> <input name="activationDate" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="activationDate">
						</div>
						<!-- /.form-group -->
					</div>

					<!-- /.col -->
					<div class="col-md-6">
						<div class="form-group">
							<label>Family Out </label> <input name="partner" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="partner">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Activity Number</label> <input name="endDate" type="text"
								class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="endDate">

						</div>
						<!-- /.form-group -->

						<!-- /.form-group -->
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
	</div>