<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	
<form th:fragment="add_bank_account_form" th:action="@{/addbankaccount}"
		method="post">

		<!-- Name  -->
		<input name="bankName" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="name"> 
			
			
			
			
			<input name="accountNumber"
			type="number" class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="activityNumber" /> 
			
			
			<input
			name="accountName" type="number" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="machineNumber">
			
			<input
			name="description" type="number" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="machineNumber">
			
			
			<input
			name="status" type="number" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="machineNumber">




		<button type="submit" class="btn btn-primary">Create</button>


	</form>
</body>
</html>