<aside th:fragment="control_sidebar" class="control-sidebar control-sidebar-dark" >
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Menu</h5>
        <p><a th:href="@{/jobs}">Job</a></p>
		<p><a th:href="@{/jobapplications}">Job Applications</a></p>
		<p><a th:href="@{/jobapplicants}">Job Applicant</a></p>
		<p><a th:href="@{/countries}">Countries</a></p>
		<p><a th:href="@{/leaves}">Leave</a></p>
		<p><a th:href="@{/customercontracts}">Customer contract</a></p>
		<p><a th:href="@{/providercontracts}">Provider Contract</a></p>
		<p><a th:href="@{/deliveryvouchers}">Delivery voucher</a></p>
		<p><a th:href="@{/employees}">Employee</a></p>
		<p><a th:href="@{/externalproviders}">External provider</a></p>
		<p><a th:href="@{/families}">Families</a></p>
		<p><a th:href="@{/operators}">Operators</a></p>
		<p><a th:href="@{/orders}">Orders</a></p>
		<p><a th:href="@{/parts}">Parts</a></p>
		<p><a th:href="@{/machines}">Machines</a></p>
    </div>
  </aside>